footer {
  position: relative;
  bottom: 0;
  width: 100vw;
  min-width: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  background-color: #c0c0c0;
  box-shadow: 0 1px 4px rgb(146 161 176 / 15%);

  .foot-wrapper {
    display: inline-flex;
    list-style: none;
  }

  .foot-wrapper .icon {
    position: relative;
    background: #ffffff;
    border-radius: 50%;
    padding: 15px;
    margin: 10px;
    width: 50px;
    height: 50px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }

  .foot-wrapper .tooltip {
    position: absolute;
    top: 0;
    font-size: 14px;
    background: #ffffff;
    color: #ffffff;
    padding: 5px 8px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }

  .foot-wrapper .tooltip::before {
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    background: #ffffff;
    bottom: -3px;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }

  .foot-wrapper .icon:hover .tooltip {
    top: -45px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }

  .foot-wrapper .icon:hover span,
  .foot-wrapper .icon:hover .tooltip {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
  }

  .foot-wrapper .reddit:hover,
  .foot-wrapper .reddit:hover .tooltip,
  .foot-wrapper .reddit:hover .tooltip::before {
    background: #ff4500;
    color: #ffffff;
  }

  .foot-wrapper .twitter:hover,
  .foot-wrapper .twitter:hover .tooltip,
  .foot-wrapper .twitter:hover .tooltip::before {
    background: #1da1f2;
    color: #ffffff;
  }

  .foot-wrapper .instagram:hover,
  .foot-wrapper .instagram:hover .tooltip,
  .foot-wrapper .instagram:hover .tooltip::before {
    background: #e4405f;
    color: #ffffff;
  }

  .foot-wrapper .github:hover,
  .foot-wrapper .github:hover .tooltip,
  .foot-wrapper .github:hover .tooltip::before {
    background: #333333;
    color: #ffffff;
  }

  .foot-wrapper .telegram:hover,
  .foot-wrapper .telegram:hover .tooltip,
  .foot-wrapper .telegram:hover .tooltip::before {
    background: #229ed9;
    color: #ffffff;
  }
  .foot-wrapper .icon span i a {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    position: absolute;
    z-index: 10;
    bottom: 0;
    left: 1px;
  }
}
